<h2>{{name}}</h2>
<button routerLink="/playlists">Back</button>
<div>
  <table>
    <tr>
      <th (click)="sortByIndex()">#</th>
      <th>Artist</th>
      <th>Title</th>
      <th>Album</th>
      <th (click)="sortByDate()">Year</th>
      <th>Duration</th>
      <th (click)="sortByPopularity()">Popularity</th>
      <th>Genres</th>
      <th>BPM</th>
      <th>UPC</th>
    </tr>
    <tr *ngFor="let track of tracks, let i = index">
      <td>{{track.index + 1}}</td>
      <td>{{track.artist}}</td>
      <td>{{track.name}}</td>
      <td>{{track.album}}</td>
      <td>{{track.date | date: 'y'}}</td>
      <td>{{(track.duration / 1000) / 60 | number: '1.0-0'}}:{{(track.duration / 1000) % 60 | number: '2.0-0'}}</td>
      <td>{{track.popularity}}%</td>
      <td>{{track.genres.join(', ')}}</td>
      <td>{{track.bpm | number:'1.0-0'}}</td>
      <td>{{track.upc}}</td>
    </tr>
    <tr>
      <td colspan="4">Average</td>
      <td></td>
      <td>{{(avgDuration.average / 1000) / 60 | number: '1.0-0'}}:{{(avgDuration.average / 1000) % 60 | number: '2.0-0'}}</td>
      <td>{{avgPopularity.average | number: '1.0-0'}}%</td>
      <td></td>
      <td>{{avgBpm.average | number: '1.0-0'}}</td>
      <td></td>
    </tr>
  </table>
  <h3>Genres</h3>
  <div>{{genresList()}}</div>
</div>
